{{#validate}}
  <p>Hello</p>
 {{input value=a}}
{{/validate}}

{{#validate-with propertyBinding="user.login"}}
  <label>
    {{validate-message}}
  </label>
  {{input value=user.login}}
{{/validate-with}}

